@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap");

:root {
  --main-bg-color: gray;
  --main-theme-color: #1e512883;
  --sub-theme-color: #4e9f3d;
  --sub-theme-color-sub: #d8e9a8;
  --main-text-color: black;
  font-family: "Noto Sans KR", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-color: var(--main-bg-color);
  font-family: "Noto Sans KR", sans-serif;
  font-size: larger;
  font-weight: bold;
  overflow: auto;
}
section {
  flex: 1;
}
footer {
  font-size: xx-small;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: black;
}
a:active {
  color: black;
}

#link {
  text-decoration: none;
  font-size: xx-large;
  margin: 1%;
  padding: 1%;
}

#home {
  position: absolute;
  left: 45%;
  bottom: 80%;
  padding: 15px 0;
  text-align: center;
}
